@charset "utf-8";
/* CSS Document */

.MainBody {
	height:1000px;
	padding:40px;
	margin-top:100px;
	margin-left:250px;
	margin-right:250px;
	margin-bottom:100px;
	background-color:#bac7be;
	/* Main content of the page is kept in section here*/
}

body
{

	background-color:#c2e1c2;
	/* Reserved for image/ background script i will complete later*/
}

.Title{
	text-align:center;
	font-family:Arial;
	
}

.warning {
	text-align:center;
	font-family:Arial;	
}




/* Section below is for all image links to other pages*/
img
{
	height:200px;
	width:250px;
}
.image1
{
	margin-top:100px;
	margin-left:100px;
	
}
.image2
{
	margin-top:100px;
	margin-left:100px;
	
}
.image3
{
	margin-top:100px;
	margin-left:100px;
	margin-right:100px;
	
}