body{
background-color:black;
height:100%;
margin : 0 ; padding : 0 ;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(145,145,146,1) 100%);
}

html{
    padding:0px;

}
#TitleWrapper{
background-color:black;


}

#TitleWrapper h1{
    margin-top: 0;

}
a{
color:white;
text-decoration:none;
}
a:visited {
  color: white;
  text-decoration:none;

}
a:hover{
color:#7a8485;
transition:1s;


}

#TitleWrapper{
height:30vh;
color:white;
text-align:center;
font-family: "Lucida Console", Courier, monospace;

}




.Container
{
text-align:left;
line-height:200px;
padding-left:10%;
color:white;
background-color:#1a1a2e;
opacity:0.5;
height:33vh;
}
.Container:hover{
opacity:1;
transition:1s;

}

#ColumnContainer{
  font-family: "Lucida Console", Courier, monospace;
    display:flex;
    height:100%;
    flex-direction:column;
    justify-content:center;

}



